.App {
  text-align: left;
  border-style: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grey-section {
  margin: 10px;
  padding: 10px;
  background: lightgrey;
  display: flex;
  flex: 1;
}